<h2>Edit <%= resource_name.to_s.humanize %></h2>
<meta charset="utf-8" name="viewport" content= "width=device-width, initial-scale=1.0">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  
 <div class="form-group">
  <div class="row">
    <div class="col-sm-4">
      <% if user.avatar.attached? %>
         <%= image_tag resource.avatar.variant(resize: "100*100!"), class:"rounded-circle" %>
       <% else %>
         <%= image_tag gravatar_imager_url(current_user.email,size: 40), height:40,width: 40, class: "rounded-circle" %>
      <% end %>
    </div>

  <div class="col-sm-4">      
    <%= f.label :add_your_profile_picture %>
    <%= f.file_field :avatar %>
  </div>
 </div>
 </div>

 

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>


  <div class="field">
    <%= f.label :add_your_bio %>
    <%= f.text_area :bio , class: 'form-control'  %>
   </div> 

    <!--div class="field">
    <%= f.label :location %>
    <%= f.text_field :location, class: 'form-control'  %>
   </div> 

    <div class="field">
    <%= f.label :add_your_birthday %>
    <%= f.text_field :birthday, class: 'form-control'  %>
   </div-->

   <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>


<%= link_to "Back", :back %>
