<!DOCTYPE html>
<html>
  <head>
   <meta charset="utf-8" name="viewport" video= "width=device-width, initial-scale=1.0">
</head>
<body>
 <div class="container">
  <% @image.each do |image| %>
      <div class="bg-muted"><%= link_to image.user.username, profile_path(image.user.username) %></div>
        <%= image_tag(image.image, style:'width:100%;height:auto') %>
         <%= image.description %>
          <% if user_signed_in? %>
           <% if current_user.liked? image %>
                <%= button_to "Dislike", dislike_image_path(image), class: 'vote', method: :put, remote: true, data: { toggle_text: 'Like', toggle_href: like_image_path(image), id: image.id } %>
          <% else %>
                <%= button_to "Like", like_image_path(image), class: 'vote', method: :put, remote: true, data: { toggle_text: 'Dislike', toggle_href: dislike_image_path(image), id: image.id } %>
           <% end %>
        <% end %>
           <span class="votes-count" data-id="<%= image.id %>"><%= image.get_likes.size %> likes </span>      
    <p><%= time_ago_in_words image.created_at %> ago</p>
  <% end %>
</div>
</body>
</html>




