<!DOCTYPE html>
<html>
  <head>
   <meta charset="utf-8" name="viewport" video= "width=device-width, initial-scale=1.0">
</head>
<body>
 <div class="container">
  <% @image.each do |image| %>
      <div class="bg-muted"><%= link_to image.user.username, profile_path(image.user.username) %></div>
        <%= image_tag(image.image, style:'width:100%;height:auto') %>
         <%= image.description %><br>
         <%= time_ago_in_words image.created_at %> ago<br>
           <%= link_to like_image_path(image), class:"like-btn", method: :put,remote: true do%>
                    <span><i class="fa fa-thumbs-up fa-2x"></i></span>
               <% end %> 
           <span class="likes-count" data-id="<%= image.id %>"><%= image.get_likes.size %> likes </span>      
    <p></p>
  <% end %>
</div>
</body>
</html>




