<!DOCTYPE html>
<html>
  <head>
    <title>Sciver</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
<meta charset="utf-8" name="viewport" content= "width=device-width, initial-scale=1.0">
<style>
  li{
    color: black;
  }
</style>
</head>
  <body>
    <nav class="navbar navbar-light" style="background-color: #33FFE5">     
     <div class="navbar-header">
       <button  type="button" class="navbar-toggler" data-toggle="collapse" data-target="#main_navbar" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
       </button>
        <a class="navbar-brand" href="#">Sciver</a> 
     </div>

     <div class="collapse navbar-collapse" id="main_navbar">
        <% if user_signed_in? %>
          <ul class="nav  navbar-nav">
           <li>
            <%= link_to "Home", videos_path, class: 'nav-link' %>
          </li>             
          <li>
            <%= link_to "Photos", images_path, class: 'nav-link' %>
          </li>
          <li>
            <%= link_to "Post photo", upload_path, class: 'nav-link' %>
          </li>
          <li>
            <%= link_to "Post video", new_video_path, class: 'nav-link' %>
          </li>
         </ul>    
            <form class="form-inline my-2 my-g-0" action="/search">
              <input name="search" type="text" placeholder="Search for users to follow" aria-label="Search">
               <button class="btn btn-primary" type="submit"> Search</button>
              </form>
              
             <ul class="nav navbar-nav navbar-right">
              <li>
                <%= link_to "Your account", profile_path(current_user.username), class: 'nav-link' %>
              </li>
              <li>
                <%= link_to "Log Out", destroy_user_session_path, class: 'nav-link', method: :delete %>
              </li>
             <li>
                <%= link_to "Edit account", edit_user_registration_path, class: 'nav-link' %>
            </li>
              <li>
                      <%= link_to "About Us", home_path, class: 'nav-link' %>
               </li>  
          </ul> 
        </div> 
     <% else %>
           <ul class="nav navbar-nav navbar-right">
              <li>
                <%= link_to "Sign In", new_user_session_path, class: 'nav-link',style:"color: white" %>
              </li>
              <li>
                <%= link_to "Create an Account", new_user_registration_path, class: 'btn btn-primary' %>
              </li>
               <li>
                  <%= link_to "About Us", home_path, class: 'nav-link',style:"color: white" %>
                </li>  
              </ul>
            <% end %>     
       </nav>

         
      

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
